body{
    font-family: "Open Sans ", serif;
    margin: 0;
}
.wrapper{
    height: 100vh;
   /* background-color: antiquewhite;*/
  /* background-color: #fff1e6;*/
   background-color: #efd3d7;

    display: flex;
    justify-content: center;align-items: center;
}
.form-container{
   /* background-color: #eddcd2 ;*/
   /* background-color: #f9dcc4;*/
   background-color: #feeafa;
    height: 70vh;
    padding: 100px 50px 0px 50px;
    margin: auto;    width: 30%;

}
input[type="text"]{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    width: 100%;display: block;
    padding-bottom: 4px;
    color: #fff !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;


}
button{
    border: 0;padding: 10px 20px;
    margin: 10px 2px;
    border-radius: 3px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15;
    cursor: pointer;background-color: #efd3d7;
    font-weight: 100;
color: #fff;

}
button:active {
outline: none;
}
.info{
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}
.info_key{
color: #e7a7c0;
border-bottom: 2px solid rgba(122, 92, 92, 0.06);font-weight: 400;
}
.info_key:last-child{border: 0;}
.info_value{
color: #e7a7c0;
font-weight: 200;
margin-left: 10px;
}
